@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	src:url('../fonts/Ubuntu-Light.woff') format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight:400;
	src:url('../fonts/Ubuntu-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight:500;
	src:url('../fonts/Ubuntu-Regular.woff') format('woff');
}

/* @font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight:700;
	src:url('../fonts/HindVadodara-Regular.woff') format('woff');
} */



.wholebody{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.banner_section{
    position: relative;
    color: #ffffff;
    text-align: center;
}
.banner_image > figure > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner_image > figure{
    height: 100vh;
    margin: 0;
}

.content_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content_wrapper > .banner_content h1{
    font-size: 80px;
    font-weight: 300;
    line-height: 1.2;
}

.content_wrapper > .banner_content h3{
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 20px;
}

.banner_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_button > div{
    border: 1px solid #ffffff;
    padding: 15px 30px;
    font-weight: 500;
    margin: 0 20px;
    position: relative;
    transition: all 1s ease-out;
    z-index: 9;
}
.banner_button a{
    text-decoration: none;
    color: #ffffff;

}
.banner_button > .first_button{
    border: 1px solid #ff6b6b;
    background-color: #ff6b6b;
}

.hover_effect::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 0;
    transition: width 0.3s ease-in-out;

}

.hover_effect::after{
    content: " ";
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    width: 0;
    transition: width 0.3s ease-in-out;

}

.banner_button > .first_button:hover{
    border: 1px solid #50cdc5;
}

.banner_button > .first_button:hover::before,.banner_button > .first_button:hover::after{
    width: 50%;
    background-color: #50cdc5;
    z-index: -1;
}

.banner_button > .second_button:hover::before,.banner_button > .second_button:hover::after{
    width: 50%;
    background-color: #ff6b6b;
    z-index: -1;
}

/* .banner_button > .first_button:hover{
    background-color: #50cdc5;
    border-color: #50cdc5;
} */
.banner_button > .second_button:hover{
    border: 1px solid #ff6b6b;
}

.get_app_now_content{
    text-align: center;
}

.get_app_now_content h2{
    font-size: 60px;
    font-weight: 400;
}

.app_collection{
    display: flex;
    justify-content: space-evenly;
}
.app_collection a{
    font-size: 19px;
    letter-spacing: .05em;
    color: #9b9b9b;
    text-decoration: none;
}

.get_app_now_search form a{
    border: 1px solid #ff6b6b;
    background-color: #ff6b6b;
    color: #ffffff;
    padding: 15px 20px;
    text-decoration: none;
    margin-left: -3px;
    position: relative;
    transition: all 1s ease-out;
    z-index: 9;
    font-size: 16px;
}
.get_app_now_search form a:hover{
    border: 1px solid #50cdc5;
    background-color: transparent;
}

.get_app_now_search form a:hover::before,.get_app_now_search form a:hover::after{
    width: 50%;
    background-color: #50cdc5;
    z-index: -1;
}
.get_app_now_search form {
    padding: 100px 0;
}
.get_app_now_wrapper{
    align-items: center;
}

.get_app_now_search form input{
    padding: 13px 0;
    border: none;
    outline: none;
    width: 70%;
    padding-left: 10px;

}

.get_app_now{
    background-color: rgba(0,0,0,0.10);
}

.custom_container{
    max-width: 1200px;
}

.about_us{
    padding: 80px 0;
}

.about_us_image_part{
    flex: 0 0 60%;
    max-width: 60%;
    position: relative;
}

.video_play_button{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_player_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ffffff;
    
}

.video_player_wrapper h3{
    font-weight: 400;
    margin-top: 10px;
    font-size: 36px;
}
.advantages{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    max-width: 100%;
}

.advantages h2{
    font-size: 48px;
    margin-bottom: 30px;
}

.sub_advantages a{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    padding: 11px 0 11px 15px;
    color: #9b9b9b;
    /* position: relative; */
    transition: all 0.25s ease-in-out;
}


.fa_icon_customer i{
    color: #ff6b6b;
}

.fa_icon_headphones i{
    color: #50cdc5;
}

.fa_icon_tag i{
    color: #fec107;
}

.fa_icon i{
    font-size: 40px;
}
.fa_icon_text{
    padding-left: 20px;
}
.fa_icon_text h3{
    font-size: 24px;
    color: #151515;
    line-height: 1.25;
    font-weight: 400;
}

.fa_icon_text h6{
    color: #9b9b9b;
    font-weight: 400;
    font-size: 15px;
}

.sub_advantages {
    padding: 13px 0;
    border-top: 1px solid #d1d1d1;
    width: 80%;
}

.sub_advantages a:hover{
    padding: 11px 0 11px 50px;
    color: #9b9b9b;
    background: #f2f3f8;
    
}


.advantages > a.about_us_button{
    color: #151515;
    background-color: transparent;
    border: 2px solid #e8e8e8;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 20px;
    position: relative;
    z-index: 9;
    transition: all 0.3s ease-out;

}

.advantages > a.about_us_button:hover{
    border: 2px solid #50cdc5;
    color: #ffffff;
}
.advantages > a.about_us_button:hover::before,
.advantages > a.about_us_button:hover::after{
    width: 50%;
    background-color: #50cdc5;
    z-index: -1;
}

.pricing_plans{
    background-color: #f2f3f8;
    padding: 80px 0 90px;
}

.pricing_plans > .container >h2{
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 70px;

}

.pricing_plans_wrapper{
    text-align: center;
    justify-content: center;
}

.pricing_plans_wrapper > div:nth-child(2) > .basic,.pricing_plans_wrapper div:nth-child(2) .basic a{
    background-color: #ff6b6b;
    color: #ffffff;
    
}

.pricing_plans_wrapper > div:nth-child(2) > .basic{
    position: relative;
    top: -20px;
    padding: 54px 0 59px;
}
.pricing_plans_wrapper > div:nth-child(2){
    margin: 0 -30px;
}
.pricing_plans_wrapper > .pricing_plans_column:nth-child(2)::before{
    position: relative;
}

.pricing_plans_column{
    max-width: 400px;
}

.pricing_plans_wrapper div:nth-child(odd) .basic{
    border-top: 3px solid #ff6b6b;
    background-color: #ffffff;
}

.pricing_plans_wrapper div:nth-child(odd) .basic .hover_effect:hover::before,
.pricing_plans_wrapper div:nth-child(odd) .basic .hover_effect:hover::after{
    width: 25%;
    background-color: #50cdc5;
    z-index: -1;
}

.pricing_plans_wrapper div:nth-child(odd) .basic a:hover{
    border: 2px solid #50cdc5;
    color: #ffffff;

}

.pricing_plans_wrapper div .basic .hover_effect{
    position: relative;
    z-index: 9;
    transition: all 0.3s ease-out;
}


.pricing_plans_wrapper div:nth-child(2) .basic > .hover_effect:hover::before,
.pricing_plans_wrapper div:nth-child(2) .basic > .hover_effect:hover::after{
    width: 21.5%;
    background-color: #ffffff;
    z-index: -1;
}

.pricing_plans_wrapper div:nth-child(2) .basic a:hover{
    border: 2px solid #ffffff;
    color: #000000;
    background-color: transparent;

}
.basic a{
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 12px 0;
    margin: 20px 80px;
    font-size: 14px;
    position: relative;
}
.pricing_plans_wrapper div:nth-child(odd) .basic a::before,.pricing_plans_wrapper div:nth-child(odd) .basic a::after{
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, 0);
    height: 1px;
    /* width: 68.5%; */
    width: 107px;
    background: #e8e8e8;
    z-index: -1;
}

.pricing_plans_wrapper div:nth-child(odd) .basic a::after{
    transform: translate(100%, 0) !important;
    right: 0;
    left: auto;

}

.pricing_plans_wrapper > div:nth-child(2) > .basic a::before,.pricing_plans_wrapper > div:nth-child(2) > .basic a::after{
    content: " ";
    position: absolute;
    top: 49%;
    left: 0;
    transform: translate(-100%, 0);
    height: 1px;
    /* width: 68.5%; */
    width: 107px;
    background: #c54747;
    z-index: -1;
}

.pricing_plans_wrapper > div:nth-child(2) > .basic a::after{
    transform: translate(100%, 0) !important;
    right: 0;
    left: auto;

}

.basic{
    padding: 30px 25px 40px;
}

.basic h5{
    font-size: 24px;
    font-weight: 400;
}

.basic h3{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 0;
}

.basic h3 span{
    font-size: 30px;
    font-weight: 600;
    position: relative;
}

.basic h3 span sup{
    position: absolute;
    top: 0;
    left: -11px;
}

/* .basic h3.middle_sup span{
    left: 125px;
} */
.basic small{
    font-size: 15px;
    font-weight: 500;
}

.pricing_plans_wrapper div:nth-child(odd) .basic a{
    background-color: transparent;
    border: 2px solid #e8e8e8;
   
}

.pricing_plans_wrapper div:nth-child(2) .basic a{
    background-color: #c54747;
    border: 2px solid #c54747;
   
}

.basic a.middle_button{
    margin: 20px 105px;
}
.basic h6 span{
    font-size: 14px;
    font-weight: 400;
    color: #9b9b9b;
}
.basic h6{
    line-height: 1.3;
}
.pricing_plans_wrapper div:nth-child(2) .basic h6 span{
    color: #ffffff;
}

.about_us_image_part:hover figure img{
    transform: scale(1.2);
}

.about_us_image_part figure{
    overflow: hidden;
}

.about_us_image_part figure img{
    transition: all 0.7s ease-in-out;
}

.mobile_sms_wrapper{
    align-items: center;
}

.mobile_sms_button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-top: 40px;

}

.mobile_sms_button figure{
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
    /* opacity: 1; */
}

.mobile_sms_button figure:hover{
    opacity: 0.6;
}

.mobile_sms_content h2{
    font-size: 48px;
    line-height: 1.4;
    word-spacing: 10px;
    font-weight: 400;
    letter-spacing: 5px;
}

h6.top_paragraph{
    padding: 10px 0;
}

.mobile_sms_content h6{
    color: #9b9b9b;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    text-align:justify;
}

.mobile_sms_image{
    margin: 40px 0 -22px;
}

.mobile_sms_content{
    padding-right: 50px;
}
.result_driven{
    background: transparent url('../images/bg-image-17-1920x581.jpg') no-repeat scroll center;
}

.result_driven_content{
    color: #ffffff;
    padding-right: 90px;
    overflow: hidden;
    padding: 110px 0;
}

.result_driven_content h3,.software_services div h2,.some_facts_heading h2,.our_clients h2,.portfolio_wrapper h2{
    font-size: 48px;
    line-height: 1.2;
    word-spacing: 10px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.result_driven_content h6{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 50px;
}
/* 
.result_driven_content a::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 0;
    transition: width 0.3s ease-in-out;

}

.result_driven_content a::after{
    content: " ";
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    width: 0;
    transition: width 0.3s ease-in-out;

} */

.result_driven_content a{
    border: 1px solid #ff6b6b;
    background-color: #ff6b6b;
    padding: 15px 30px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    position: relative;
    z-index: 9;
    transition: all 0.3s ease-out;
}

.result_driven_content a:hover::before,
.result_driven_content a:hover::after{
    width: 50%;
    background-color: #50cdc5;
    z-index: -1;
}

.result_driven_content a:hover{
    border: 1px solid #50cdc5;
    background-color: transparent;

}

.software_services{
    padding: 80px 0;
}
.software_services h2{
    text-align: center;
}

.sub_software_services{
    position: relative;
    padding: 20px 50px;
    border: 1px solid #eaeced;
    max-width: 330px;
    margin-top: 50px;
    overflow-x: visible;
    transition: .33s;
    margin-left: auto;
    margin-right: auto;
}

.sub_software_services h4{
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 400;
    padding-top: 20px;
    transition: .33s;
}

.sub_software_services h6{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: #9b9b9b;
    padding-right: 7px;
}

.sub_software_services:hover h4{
    color: #ff6b6b;
}
.sub_software_services .icon_section{
    color: #ff6b6b;
    position: absolute;
    top: -20px;
    right: 30px;
    width: 100px;
    background: #ffffff;
    text-align: center;
}

.sub_software_services:hover{
    border: 1px solid #ff6b6b;
}

.some_facts{
    background: transparent url('../images/bg-image-2-1920x1121.jpg') no-repeat scroll center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
    -webkit-font-smoothing: subpixel-antialiased;
}

.some_facts_heading h6{
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 7px;
    padding-bottom: 50px;
}

.counter_element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter_element h3{
    font-size: 60px;
    font-weight: 400;
    padding-left: 10px;
}

.counter_element h3 span{
    font-size: 33px;
    position: relative;
    top: -8px;
    left: 0;
}

.counter h6{
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 7px;
    font-weight: 400;
}

.right_border{
    border-right: 1px solid rgba(255, 255, 255, 0.4);;
}

.our_clients h2{
    text-align: center;
}

.our_clients{
    padding: 80px 0 150px;
    background-color: #f2f3f8;
}

.client_review{
    background-color: #ffffff;
    max-width: 600px;
    overflow-x: visible;
    padding: 30px 0;
    margin-top: 30px;
}

.client_image_content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: -30px;
}

.client_details{
    font-weight: 400;
    padding-left: 30px;
}
.client_details h4{
    font-size: 24px;
}

.client_details h5{
    font-size: 16px;
    color: #9b9b9b;
}

.company_details h6{
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 400;
    padding: 15px 58px 40px 28px;
    text-align: justify;
    line-height: 1.5;
}
.company_details i{
    color: #ff6b6b;
    transform: rotate(180deg) scaleX(-1);
    padding-left: 40px;
    padding-bottom: 15px;
}

.company_details{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.our_clients_column{
    flex: 0 0 45%;
    max-width: 100%;
    padding: 0 30px;
    /* padding-left: 30px;
    padding-right: 0; */
}

.our_clients_row{
    justify-content: space-evenly;
    margin-right: -30px;
    margin-left: -30px;
}

.portfolio_wrapper{
    text-align: center;
    padding: 80px 0 90px;
}

.portfolio_links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #9b9b9b;
    background-color: transparent;
    border: 2px solid #e5e7e9;
    padding: 15px 37px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}

.portfolio_links a:hover,a.portfolio_active{
    color: #ffffff;
    border: 2px solid #ff6b6b;
    background-color: #ff6b6b;
}
.portfolio_links{
    padding: 20px 0;
    margin: 0 -5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images_section_container{
    max-width: 1350px;
    padding-right: 0;
    padding-left: 0;
}

.image_section_wrapper{
    position: relative;
}
.image_section_wrapper .image_part{
    max-width: 530px;
    margin: 0 auto;
}

.image_part figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images_section_column{
    padding-right: 0px;
    padding-left: 0px;
}

.image_part figure{
    margin: 0;
}

.images_section_row{
    margin-right: 0px;
    margin-left: 0px;
}

.image_section_wrapper .image_hover_part .hover_overlay{
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    /* transition: all 0.3s ease-in-out; */
    z-index: 9;
}

.image_section_wrapper .overlay{
    position: absolute; /* Sit on top of the page content */
    visibility: hidden; /* Hidden by default */
    max-width: 530px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    margin: 0 auto;
}

.image_section_wrapper:hover .image_hover_part .hover_overlay,.image_section_wrapper:hover .overlay{
    visibility: visible;
}

.footer{
    background-color: #323c47;
    padding: 50px 0 20px;
}

.footer_element h3{
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    word-spacing: 15px;
}

.headphone_icon ,.contact_details a, .contact_details{
    color: #c54747;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.support{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact_details a:hover{
    color: #151515;
}

.contact_details a{
    font-size: 26px;
}

.contact_details{
    padding-left: 20px;
}

.contact_details h6{
    font-size: 14px;
    font-weight: 400;
}

.footer_links a,.copyright a,.copyright{
    color: #6a7688;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.footer_links a{
    padding-right: 15px;
    line-height: 2.5;
    font-size: 16px;
}
.footer_links a:hover,.copyright a:hover{
    color: #ff6b6b;
}

.footer_row{
    align-items: center;
}

.footer_element hr{
    border-color: #485460;
}

.nav-spacing .nav-link{
    padding-right: 15px !important;
    padding-left: 15px !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.nav-spacing .nav-item>.nav-link{
    color: #ffffff;
    border: 2px solid transparent;
    padding: 13px 0;
    transition: all 0.5s ease-in-out;
}

.nav-spacing .nav-item>.nav-link:hover,.nav-spacing .active>.nav-link{
    color: #ffffff;
    border: 2px solid #ffffff;
}

.navbar_top_spacing{
    padding-top: 30px;
}

.navbar_on_scrolling{
    padding-top: 0;
    background-color: rgba(0,0,0,0.8);
}

.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.fav_icons a{
    color: #ffffff;
    padding: 0 7px;
}

/*Slick slider css*/


.slider {
    margin: 0 auto;
  }
  .slick-slide {
    margin: 0 5px;
  }
  .slick-list {
    margin: 0px -5px 0px -5px;
  }
  /* button.slick-next, button.slick-next:hover {
    position: absolute;
    top: 41%;
    right: 54px;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
  }
  button.slick-prev, button.slick-prev:hover {
    position: absolute;
    top: 41%;
    left: 15px;
    z-index: 1;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
        background-position-x: right;
  } */
  
  .slick-prev:after {
      
      background: url(../images/previous.png) no-repeat;
      content: "";
      display: block;
      background-size: 30px 30px;
      height: 50px;
      width: 50px;
  
    }
    
    .slick-next:after {
      
      background: url(../images/next.png) no-repeat;
      content: "";
      display: block;
      background-size: 30px 30px;
      height: 50px;
      width: 50px;
    
    }
  
    
  .slick-prev:before, .slick-next:before {
    font-size: 70px;
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
  }
  /* .slider img {
    width: 324px;
  } */
  
  /* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
  /* Slider */
  .slick-slider
  {
      position: relative;
  
      display: block;
  
      -moz-box-sizing: border-box;
           box-sizing: border-box;
  
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
  
      display: block;
      overflow: hidden;
  
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
  
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
  
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
  
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
  
      height: auto;
  
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
  @charset 'UTF-8';
  /* Slider */
  .slick-loading .slick-list
  {
      background: #fff url('http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif') center center no-repeat;
  }
  
  /* Icons */
  @font-face
  {
      font-family: 'slick';
      font-weight: normal;
      font-style: normal;
  
      src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot');
      src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.woff') format('woff'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.ttf') format('truetype'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.svg#slick') format('svg');
  }
  /* Arrows */
  .slick-prev,
  .slick-next
  {
      font-size: 0;
      line-height: 0;
  
      position: absolute;
      top: 50%;
  
      display: block;
  
      width: 20px;
      height: 20px;
      margin-top: -10px;
      padding: 0;
  
      cursor: pointer;
  
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus
  {
      color: transparent;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before
  {
      opacity: 1;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before
  {
      opacity: .25;
  }
  
  .slick-prev:before,
  .slick-next:before
  {
      font-family: 'slick';
      font-size: 20px;
      line-height: 1;
  
      opacity: .75;
      color: white;
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .slick-prev
  {
      left: -20px;
      z-index: 1;
  }
  [dir='rtl'] .slick-prev
  {
      right: -25px;
      left: auto;
  }
  .slick-prev:before
  {
      content: '';
  }
  [dir='rtl'] .slick-prev:before
  {
      content: '';
      font-weight: bold;
      font-size: 20px;
  }
  
  .slick-next
  {
      right: -10px;
  }
  [dir='rtl'] .slick-next
  {
      right: auto;
      left: -25px;
  }
  .slick-next:before
  {
      content: '';
  }
  [dir='rtl'] .slick-next:before
  {
      content: '';
  }
  
  /* Dots */
  .slick-slider
  {
      margin-bottom: 30px;
  }
  
  .slick-dots
  {
      position: absolute;
      bottom: -45px;
  
      display: block;
  
      width: 100%;
      padding: 0;
  
      list-style: none;
  
      text-align: center;
  }
  .slick-dots li
  {
      position: relative;
  
      display: inline-block;
  
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
  
      cursor: pointer;
  }
  .slick-dots li button
  {
      font-size: 0;
      line-height: 0;
  
      display: block;
  
      width: 20px;
      height: 20px;
      padding: 5px;
  
      cursor: pointer;
  
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus
  {
      outline: none;
  }
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before
  {
      opacity: 1;
  }
  .slick-dots li button:before
  {
      font-family: 'slick';
      font-size: 6px;
      line-height: 20px;
  
      position: absolute;
      top: 0;
      left: 0;
  
      width: 20px;
      height: 20px;
  
      content: '•';
      text-align: center;
  
      opacity: .25;
      color: black;
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before
  {
      opacity: .75;
      color: black;
  }

  .slick-list.draggable > div{
    width: auto;
  }
 

  @media(max-width: 768px){
    .about_us_image_part,.advantages {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .sub_advantages a {
        justify-content: center;
    }

    .pricing_plans_wrapper > div:nth-child(2) {
       margin: 40px 0 0;
    }

    .result_driven_content a{
        margin: 0 auto;
    }

    .result_driven_content{
        display: flex;
        flex-direction: column;
    }

    .right_border{
        border-right: none;
        padding-top: 10px;
    }

    .company_details h6{
        padding: 0 15px;
    }

    .image_part figure,.portfolio_links a,.image_section_wrapper .overlay{
        margin: 0 0 15px;
    }
    .portfolio_links a{
        margin: 0 10px 15px;
    }
    .image_section_wrapper .overlay{
        /* padding: 0 10px; */
        margin: 0 auto;
    }

    .image_section_wrapper{
        margin: 0 10px;
    }
    .nav-spacing,.footer_element{
        text-align: center;
    }

    .client_details{
        padding-left: 20px;
    }

    .client_review{
        padding: 10px 0;
        margin-top: 0;
    }

    .support{
        justify-content: center;
        text-align: left;
    }

    .some_facts_heading h6,.mobile_sms_content{
        padding: 0;
    }

    .slick-slider,.result_driven_content h6 {
        margin-bottom: 10px;
    }

    .our_clients,.portfolio_wrapper,.some_facts,.software_services,.result_driven_content,.pricing_plans,.get_app_now_search form,.about_us{
        padding: 20px 0 30px;
    }

    .mobile_sms_image{
        margin: 20px 0 -16px;
    }

    .mobile_sms_button,.about_us_wrapper figure {
        justify-content: center;
        margin: 0;
        padding-top: 10px;
    }

    .pricing_plans > .container >h2,.our_clients h2{
        margin-bottom: 20px;
        font-size: 45px;
    }

    .about_us_wrapper{
        margin: 0 auto;
    }

    .navbar_top_spacing{
        padding-top: 0;
        background-color: rgba(0,0,0,0.7);
    }

    .content_wrapper > .banner_content h1{
        font-size: 55px;
    }

    .content_wrapper > .banner_content h3,.mobile_sms_content h2,.result_driven_content h3,.software_services div h2,.some_facts_heading h2,.footer_element h3{
        font-size: 35px;
        text-align: center;
    }

    .get_app_now_content h2,.advantages h2,.portfolio_wrapper h2 {
        font-size: 45px;
        padding-top: 20px;
    }

    .banner_button a{
        font-size: 14px;
    }
    .contact_details a {
        font-size: 24px;
    }
    .mobile_sms_content h6,.result_driven_content h6,.sub_software_services h4,.footer_links a,.copyright_content{
        font-size: 15px;
    }

    .sub_software_services h4,.some_facts_heading h6{
        font-size: 16px;
    }

    .slick-next.slick-arrow,.slick-prev.slick-arrow{
        display: none !important;
    }

    .mobile_sms_content h2{
        padding-top: 30px;
    }

    .company_details i{
        padding-left: 10px;
        padding-bottom: 0;
    }

    .our_clients_column {
        padding-left: 30px;
        padding-right: 0;
    }
  }

  @media (max-width: 425px){
    .company_details h6{
        text-align: left;
    }
    .sub_software_services{
        margin-top: 30px;
    }
    .copyright{
        justify-content: center;
    }
    .mobile_sms_image{
        margin: 20px 0 -16px;
    }

    .content_wrapper > .banner_content h1 {
        font-size: 40px;
    }

    .content_wrapper > .banner_content h3, .mobile_sms_content h2, .result_driven_content h3, .software_services div h2, .some_facts_heading h2, .footer_element h3, .get_app_now_content h2, .advantages h2, .portfolio_wrapper h2 {
        font-size: 30px;
    }

    .app_collection a,.counter h6 {
        font-size: 16px;
    }  

    .get_app_now_search form a{
        padding: 17px 10px;
        font-size: 14px;
    }

    .video_player_wrapper{
        font-size: 11px;
    }

    .video_player_wrapper h3 {
        font-size: 28px;
    }

    .fa_icon_text h3{
        font-size: 19px;
    }

    .fa_icon_text h6 {
        font-size: 13px;
    }

    .sub_advantages {
        padding: 0;
        width: 95%;
    }

    .pricing_plans > .container >h2, .our_clients h2,.basic h3 {
        font-size: 35px;
    }

    .basic h5 {
        font-size: 20px;
    }

    .basic small,.footer_links a,.advantages > a.about_us_button {
        font-size: 13px;
    }

    .basic a,.portfolio_links a {
        font-size: 12px;
    }

    .counter_element h3 {
        font-size: 50px;
    }

    .contact_details a {
        font-size: 21px;
    }

    .banner_button > div{
        padding: 10px 13px;
    }

    .banner_button a {
        font-size: 13px;
    }

    .basic h3 span sup {
        top: 6px;
    }
  }

  @media(max-width: 385px){
    .mobile_sms_image{
        margin: 20px 0 -16px;
    }
  }