.wholebody{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.banner_section{
    position: relative;
    color: #ffffff;
    text-align: center;
}
.banner_image > figure > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner_image > figure{
    height: 100vh;
    margin: 0;
}

.content_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content_wrapper > .banner_content h1{
    font-size: 80px;
    font-weight: 300;
    line-height: 1.2;
}

.content_wrapper > .banner_content h3{
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 20px;
}

.banner_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_button > div{
    border: 1px solid #ffffff;
    padding: 15px 30px;
    font-weight: 500;
    margin: 0 20px;
}
.banner_button a{
    text-decoration: none;
    color: #ffffff;

}
.banner_button > .first_button{
    border: 1px solid #ff6b6b;
    background-color: #ff6b6b;
}

.banner_button > .second_button:hover{
    border: 1px solid #ff6b6b;
    background-color: #ff6b6b;
}

.get_app_now_content{
    text-align: center;
}

.get_app_now_content h2{
    font-size: 60px;
    font-weight: 400;
}

.app_collection{
    display: flex;
    justify-content: space-evenly;
}
.app_collection a{
    font-size: 19px;
    letter-spacing: .05em;
    color: #9b9b9b;
    text-decoration: none;
}

.get_app_now_search form a{
    border: 1px solid #ff6b6b;
    background-color: #ff6b6b;
    color: #ffffff;
    padding: 15px 20px;
    text-decoration: none;
    margin-left: -3px;
}

.get_app_now_search form {
    padding: 100px 0;
}
.get_app_now_wrapper{
    align-items: center;
}

.get_app_now_search form input{
    padding: 13px 0;
    border: none;
    outline: none;
    width: 70%;
    padding-left: 10px;

}

.get_app_now{
    background-color: rgba(0,0,0,0.10);
}

.custom_container{
    max-width: 1200px;
}

.about_us{
    padding: 80px 0;
}

.about_us_image_part{
    flex: 0 0 60%;
    max-width: 60%;
    position: relative;
}

.video_play_button{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_player_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ffffff;
    
}

.video_player_wrapper h3{
    font-weight: 400;
    margin-top: 10px;
    font-size: 36px;
}
.advantages{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    max-width: 40%;
}

.advantages h2{
    font-size: 48px;
    margin-bottom: 10px;
}

.sub_advantages a{
    display: flex;
    text-decoration: none;
    align-items: center;
    align-items: center;
    padding: 11px 50px 11px 15px;
    color: #9b9b9b;
}

.fa_icon_customer i{
    color: #ff6b6b;
}

.fa_icon_headphones i{
    color: #50cdc5;
}

.fa_icon_tag i{
    color: #fec107;
}

.fa_icon i{
    font-size: 40px;
}
.fa_icon_text{
    padding-left: 20px;
}
.fa_icon_text h3{
    font-size: 24px;
    color: #151515;
    line-height: 1.25;
    font-weight: 400;
}

.fa_icon_text h6{
    color: #9b9b9b;
    font-weight: 400;
    font-size: 15px;
}

.sub_advantages {
    padding: 13px 0;
    border-top: 1px solid #d1d1d1;
}

.advantages > a.about_us_button{
    color: #151515;
    background-color: transparent;
    border: 2px solid #e8e8e8;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 20px;

}

.pricing_plans{
    background-color: #f2f3f8;
    padding: 80px 0 90px;
}

.pricing_plans > .container >h2{
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;

}

.pricing_plans_wrapper{
    text-align: center;
    justify-content: center;
}

.pricing_plans_wrapper > div:nth-child(2) > .basic,.pricing_plans_wrapper div:nth-child(2) .basic a{
    background-color: #ff6b6b;
    color: #ffffff !important;
    
}

.pricing_plans_wrapper > div:nth-child(2) > .basic{
    position: relative;
    top: -20px;
    padding: 54px 0 59px;
}
.pricing_plans_wrapper > div:nth-child(2){
    margin: 0 -30px;
}
.pricing_plans_wrapper > .pricing_plans_column:nth-child(2)::before{
    position: relative;
}


.pricing_plans_wrapper div:nth-child(odd) .basic{
    border-top: 3px solid #ff6b6b;
    background-color: #ffffff;
}

.basic a{
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 12px 0;
    margin: 20px 80px;
    font-size: 14px;
    position: relative;
}
.pricing_plans_wrapper div:nth-child(odd) .basic a::before,.pricing_plans_wrapper div:nth-child(odd) .basic a::after{
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, 0);
    height: 1px;
    width: 68.5%;
    background: #e8e8e8;
   
}

.pricing_plans_wrapper div:nth-child(odd) .basic a::after{
    transform: translate(100%, 0) !important;
    right: 0;
    left: auto;

}

.pricing_plans_wrapper > div:nth-child(2) > .basic a::before,.pricing_plans_wrapper > div:nth-child(2) > .basic a::after{
    content: " ";
    position: absolute;
    top: 49%;
    left: 0;
    transform: translate(-100%, 0);
    height: 1px;
    width: 39.5%;
    background: #c54747;
   
}

.pricing_plans_wrapper > div:nth-child(2) > .basic a::after{
    transform: translate(100%, 0) !important;
    right: 0;
    left: auto;

}

.basic{
    padding: 30px 25px 40px;
}

.basic h5{
    font-size: 24px;
    font-weight: 400;
}

.basic h3{
    font-size: 48px;
    font-weight: 400;
    position: relative;
    margin-bottom: 0;
}

.basic h3 span{
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 9px;
    left: 100px;
}

.basic small{
    font-size: 15px;
    font-weight: 500;
}

.pricing_plans_wrapper div:nth-child(odd) .basic a{
    background-color: transparent;
    border: 2px solid #e8e8e8;
   
}

.pricing_plans_wrapper div:nth-child(2) .basic a{
    background-color: #c54747;
    border: 2px solid #c54747;
   
}

.basic h6 span{
    font-size: 14px;
    font-weight: 400;
    color: #9b9b9b;
}
.basic h6{
    line-height: 1.3;
}
.pricing_plans_wrapper div:nth-child(2) .basic h6 span{
    color: #ffffff;
}

.about_us_image_part:hover figure img{
    transform: scale(1.2);
}

.about_us_image_part figure{
    overflow: hidden;
}

.about_us_image_part figure img{
    transition: all 0.7s ease-in-out;
}

.mobile_sms_wrapper{
    align-items: center;
}

.mobile_sms_button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 -10px;
    margin-top: 40px;

}

.mobile_sms_button figure{
    padding: 0 10px;
}

.mobile_sms_content h2{
    font-size: 48px;
    line-height: 1.4;
    word-spacing: 10px;
    font-weight: 400;
    letter-spacing: 5px;
}

h6.top_paragraph{
    padding: 10px 0;
}

.mobile_sms_content h6{
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align:justify;
}

.mobile_sms_image{
    margin: 40px 0 -16px;
}

.mobile_sms_content{
    padding-right: 50px;
}
.result_driven{
    background: transparent url('../images/bg-image-17-1920x581.jpg') no-repeat scroll center;
}

.result_driven_content{
    color: #ffffff;
    padding-right: 90px;
    overflow: hidden;
    padding: 110px 0;
}

.result_driven_content h3,.software_services div h2,.some_facts_heading h2,.our_clients h2,.portfolio_wrapper h2{
    font-size: 48px;
    line-height: 1.4;
    word-spacing: 10px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.result_driven_content h6{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 50px;
}

.result_driven_content a{
    border: 1px solid #ff6b6b;
    background-color: #ff6b6b;
    padding: 15px 30px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

.software_services{
    padding: 80px 0;
}
.software_services h2{
    text-align: center;
}

.sub_software_services{
    position: relative;
    padding: 20px 50px;
    border: 1px solid #eaeced;
    max-width: 330px;
    margin-top: 50px;
    overflow-x: visible;
    transition: .33s;
}

.sub_software_services h4{
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 400;
    padding-top: 20px;
    transition: .33s;
}

.sub_software_services h6{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: #9b9b9b;
    padding-right: 7px;
}

.sub_software_services:hover h4{
    color: #ff6b6b;
}
.sub_software_services .icon_section{
    color: #ff6b6b;
    position: absolute;
    top: -20px;
    right: 30px;
    width: 100px;
    background: #ffffff;
    text-align: center;
}

.sub_software_services:hover{
    border: 1px solid #ff6b6b;
}

.some_facts{
    background: transparent url('../images/bg-image-2-1920x1121.jpg') no-repeat scroll center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
    -webkit-font-smoothing: subpixel-antialiased;
}

.some_facts_heading h6{
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 7px;
    padding-bottom: 50px;
}

.counter_element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter_element h3{
    font-size: 60px;
    font-weight: 400;
    padding-left: 10px;
}

.counter_element h3 span{
    font-size: 33px;
    position: relative;
    top: -8px;
    left: 0;
}

.counter h6{
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 7px;
    font-weight: 400;
}

.right_border{
    border-right: 1px solid rgba(255, 255, 255, 0.4);;
}

.our_clients h2{
    text-align: center;
}

.our_clients{
    padding: 80px 0 150px;
    background-color: #f2f3f8;
}

.client_review{
    background-color: #ffffff;
    max-width: 600px;
    overflow-x: visible;
    padding: 30px 0;
    margin-top: 30px;
}

.client_image_content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: -30px;
}

.client_details{
    font-weight: 400;
    padding-left: 30px;
}
.client_details h4{
    font-size: 24px;
}

.client_details h5{
    font-size: 16px;
    color: #9b9b9b;
}

.company_details h6{
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 400;
    padding: 15px 58px 40px 128px;
    text-align: justify;
    line-height: 1.5;
}

.our_clients_column{
    flex: 0 0 45%;
    max-width: 45%;
    padding: 0 30px;
}

.our_clients_row{
    justify-content: space-evenly;
    margin-right: -30px;
    margin-left: -30px;
}

.portfolio_wrapper{
    text-align: center;
    padding: 80px 0 90px;
}

.portfolio_links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #9b9b9b;
    background-color: transparent;
    border: 2px solid #e5e7e9;
    padding: 15px 37px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}

.portfolio_links a:hover,a.portfolio_active{
    color: #ffffff;
    border: 2px solid #ff6b6b;
    background-color: #ff6b6b;
}
.portfolio_links{
    padding: 20px 0;
    margin: 0 -5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images_section_container{
    max-width: 1350px;
    padding-right: 0;
    padding-left: 0;
}

.image_section_wrapper{
    position: relative;
}
/* .image_part{
    max-width: 444px;
    max-height: 328px;
    overflow: hidden;
} */

.image_part figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images_section_column{
    padding-right: 0px;
    padding-left: 0px;
}

.image_part figure{
    margin: 0;
}

.images_section_row{
    margin-right: 0px;
    margin-left: 0px;
}

.image_section_wrapper .image_hover_part .hover_overlay{
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    /* transition: all 0.3s ease-in-out; */
    z-index: 9;
}

.image_section_wrapper .overlay{
    position: absolute; /* Sit on top of the page content */
    visibility: hidden; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    /* transition: all 0.3s ease-in-out; */
}

.image_section_wrapper:hover .image_hover_part .hover_overlay,.image_section_wrapper:hover .overlay{
    visibility: visible;
}

.footer{
    background-color: #323c47;
    padding: 50px 0 20px;
}

.footer_element h3{
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    word-spacing: 15px;
}

.headphone_icon ,.contact_details a, .contact_details{
    color: #c54747;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.support{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact_details a:hover{
    color: #151515;
}

.contact_details a{
    font-size: 26px;
}

.contact_details{
    padding-left: 20px;
}

.contact_details h6{
    font-size: 14px;
    font-weight: 400;
}

.footer_links a,.copyright a,.copyright{
    color: #6a7688;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.footer_links a{
    padding-right: 15px;
    line-height: 2.5;
    font-size: 16px;
}
.footer_links a:hover,.copyright a:hover{
    color: #ff6b6b;
}

.footer_row{
    align-items: center;
}

.footer_element hr{
    border-color: #485460;
}

.nav-spacing .nav-link{
    padding-right: 15px !important;
    padding-left: 15px !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.nav-spacing .nav-item>.nav-link{
    color: #ffffff;
    border: 2px solid transparent;
    padding: 13px 0;
    transition: all 0.5s ease-in-out;
}

.nav-spacing .nav-item>.nav-link:hover,.nav-spacing .active>.nav-link{
    color: #ffffff;
    border: 2px solid #ffffff;
}

.navbar_top_spacing{
    padding-top: 30px;
}